# GDB_STATE_ARENA_RESERVE_SIZE: 2gb
# GDB_STATE_ARENA_COMMIT_SIZE: 32mb

# GDB_DATABASE_ARENA_RESERVE_SIZE: 64kb
# GDB_DATABASE_ARENA_COMMIT_SIZE: 4kb

# GDB_TABLE_ARENA_RESERVE_SIZE: 1mb
# GDB_TABLE_ARENA_COMMIT_SIZE: 32kb
# GDB_TABLE_EXPAND_FACTOR: 2.0

# GDB_COLUMN_EXPAND_COUNT: 64
# GDB_COLUMN_ARENA_RESERVE_SIZE: 256mb
# GDB_COLUMN_ARENA_COMMIT_SIZE: 32mb
# GDB_COLUMN_VARIABLE_CAPACITY_ALLOC_SIZE: 4kb
# GDB_COLUMN_MAX_GROW_BY_SIZE: 32mb

# GDB_DISK_BACKED_THRESHOLD_SIZE: 64mb

# GDB_VULKAN_VALIDATION: false
